version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    cap_add:
      - SYS_NICE
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=TaskManagement

    volumes:
      - db:/var/lib/mysql
    networks:
      - asd_net
  app:
    depends_on:
      - db
      - redis
    build:
      context: .
      dockerfile: ./Dockerfile
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 0
        order: stop-first
    restart: on-failure
    stdin_open: true
    tty: true
    image: alirezaeiji151379/asd_backend:beta
    networks:
      - asd_net

  redis:
    image: "redis"
    restart:
      always
    networks:
      - asd_net

  nginx:
    depends_on:
      - app
    ports:
      - "8000:8000"
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 0
        order: stop-first
    restart: 
      always
    image: alirezaeiji151379/asd_frontend:beta
    networks:
      - asd_net

volumes:
  db:
    driver: local

networks:
  asd_net:
