name: ASD_Backend cicd pipeline

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Validate pom.xml
        run: mvn validate
      - name: Clean the previous files
        run: mvn -e clean
      - name: create package
        run: mvn package

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
#
#      - name: create docker compose image
#        run: docker-compose up --build
#      - name: push to docker hub
#        run: docker-compose push

      - name: Build & push Docker image
        if: github.repository == 'main'
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: alirezaeiji151379/asd_backend
          tags: beta
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}





